@font-face {
    font-family: stark;
    src: url(Fonts/Stark.otf);
}

body {
    background-color:#72738c;
    font-family:stark;
}
a {
    text-decoration:none;
    color:inherit;
}

/*Header*/
#header {
    margin-top:-.6em;
    margin-left:-.55em;
    height:7.1em;
    width:100.05%;
    position:absolute;
    background-color:#121212;
    opacity:1;
    z-index:2;
}
#subHeader {
    width:64em;
    height:7.1em;
    margin-left:auto;
    margin-right:auto;
    background-color:#121212;
    overflow:hidden;
    position:relative;
}
#headerLeft {
    float:left;
    width:20em;
    height:3em;
    margin-left:1em;
    margin-right:auto;
    position:relative;
    z-index:1;
    text-align:center;
}
#logo {
    width:17em;
    margin-top:.02em;
    cursor:pointer;
}
#headerRight {
    width:42em;
    height:3em;
    float:left;
    margin-left:0em;
}
#characterList {
    width:9.5em;
    height:6em;
    margin-top:.4em;
    font-size:1em;
}
.char {
    color:white;
    margin-top:0;
    margin-bottom:.09em;
}
#location {
    width:9.5em;
    height:6em;
    margin-left:10em;
    margin-top:-6.15em;
    font-size:1em;
}
.loc {
    color:#ffd270;
} 
#time {
    width:9.5em;
    height:6em;
    margin-left:20em;
    margin-top:-6.15em;
    font-size:1em;
}
.time {
    color:#ffd270;
} 

/*Main*/
#bubble {
    background-color:#121212;
    color:white;
    height:auto;
    width:62em;
    position:relative;
    margin-top:6.85em;
    margin-left:auto;
    margin-right:auto;
    bottom:1em;
    border-radius:.3em;
}
#string {
    margin-left:.7em;
    margin-right:.7em;
    border:transparent solid;
}

/*Text*/
.dsc {
    text-align:center;
}
.sty {
    margin-bottom:-.5em;
}
.spk {
    text-align:left;
    margin-left:10em;
}
.opt {
    text-align:center;
    text-decoration: underline overline;
}
nxt:hover {
    cursor:pointer;
    color:#65a641;    
}
sc {
    color:white;
}
.you {
    margin-right:10em;
    color:#65a641;
}
.sullivan {
    color:#fc0000;
}
.finley {
    color:#d4a923;
}
.employee {
    color:#00c2fc;
}
.audience {
    color:#FC6C85;
}
.jordan {
    color:#234ed4;
}
.kai {
    color:#00FFFF;
}
.wes {
    color:#8D38C9;
}
.kaiS {
    color:#00FFFF;
}
.wesS {
    color:#8D38C9;
}
.lady {
    color:#FFD801;
}
.officer {
    color:#72738c;
}

/*Begining*/
.welcome {
    width:60%;
    display:block;
    margin:auto;
}
#start:hover #startReveal {
    opacity:1;
    cursor:pointer;
}
#startReveal {
    margin-top:-16.48em;
    opacity:0;
    transition:.8s ease;
}


